<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US " }}">

<head>
  <meta charset="utf-8">
  <title> vinodh weds valli
  </title>

  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/pagePiling.js/1.5.5/jquery.pagepiling.css" />

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
 <!--  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pagePiling.js/1.5.5/jquery.pagepiling.js"></script>
  <script type="text/javascript">
  
  $(document).ready(function() {
  $('#pagepiling').pagepiling();
});
</script>
  
  <style>

    @font-face {
  font-family: 'brusher';
  src: url('./Brusher.ttf')  format('truetype');
}
    .center-div {
      margin: 0 auto;
      width: 100px;
    }
    .section {    text-align: center;}
    
    p {
      font-family: brusher;
    }
@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.3); }
  100% { transform: scale(1); }
}

  </style>

  </head><body>
<div id="pagepiling">
    <div class="section" style="background-image: linear-gradient(to top, rgb(255, 154, 158) 0%, rgb(254, 207, 239) 99%, rgb(254, 207, 239) 100%);">
<div>
    <p class="text-center" style="
        
              
color: white;
        font-size: 50px;
        
    ">Two becomes One..</p><svg style="
            fill: white;
  width: 19px;
  animation: pulse 1s ease infinite;
  width=50px;
  " viewBox="0 0 32 29.6">
  <path d="M23.6,0c-3.4,0-6.3,2.7-7.6,5.6C14.7,2.7,11.8,0,8.4,0C3.8,0,0,3.8,0,8.4c0,9.4,9.5,11.9,16,21.2
  c6.1-9.3,16-12.1,16-21.2C32,3.8,28.2,0,23.6,0z"></path>
</svg> <p style="
        
              
color: white;
        font-size: 50px;
        
    ">.. Ah yes, We are getting married !!!</p>
</div>
  </div>
    <div class="section" style="background-color: white;" >

    <img src="image.jpeg" style="
    width:  850px;
    height: 567px;
">


</div>
  <div class="section" >
  <video style="width: 850px; height: 567px;" controls> <source src="googleEarth.m4v" type="video/mp4" />  </video> </div>
  
<div class="section" style=" background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);" >

<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2133.811280848001!2d79.318739622402!3d11.229932046917861!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x71c8514fb97a012e!2sTMT+Thirumana+Mandabam!5e0!3m2!1sen!2sus!4v1523649362344" width="750" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
</div>
    

  </body></html>
